<div class="modal fade" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body position-relative">
           
  <header class="d-flex flex-column align-items-center mt-5 mb-3 ">
    <h1 class="w-30 fs-0 text-uppercase mb-3 fw-bold">
        Formulário </br> de <span class="text-warning ws-1">Participação</span>
    </h1>
    <p class="text-center fs-6 w-10">
        Preencha os campos a baixo para emitires o seu 
        <span class="text-warning fw-medium">certificado</span> de participação
    </p>
</header>
<div class="position-absolute top-0 px-3 py-5 bg-danger" style="left: 73%;"></div>
<div class="d-flex flex-column align-items-center">
    <form class="needs-validation" novalidate>
        <div class="d-flex flex-column mb-4">
            <label class="form-label" for="nome">Nome</label>
            <input
                id="nome"
                class="form-control"
                style="width: 24rem;"
                type="text" 
                placeholder="exemplo: Marcos Antonio"
                required
            >
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Preencha o campo com nome</div>
        </div>

        <div class="d-flex flex-column mb-5">
            <label class="form-label" for="CIF">CIF/Nº do agente</label>
            <input
                id="CIF"
                class="form-control"
                style="width: 24rem;"
                type="text" 
                placeholder="exemplo: 3240LA03"
                required
            >
            <div class="valid-feedback"></div>
            <div class="invalid-feedback">Preencha o campo com CIF/Nº do agente</div>
        </div>

        <div class="d-flex flex-column align-items-center " >
            <button 
                type="button" 
                class="btn btn-danger w-100 py-2"
            >
                Gerar Certificado
            </button>
            <button 
                type="button"
                class="btn w-100 mt-2 py-2 btn-outline-danger"
                data-bs-dismiss="modal"
            >
                Cancelar Emissão
            </button>
        </div>
    </form>
</div>
        </div>
      </div>
    </div>
  </div>

 