<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/css/estilo-certificado.css">
</head>
<body>
    <main>
        <header>
            <img src="img/favicon.png">
            <div class="texto-cabecalho">
                <h1>Hospital Geral de Benguela</h1>
                <h2>Direcção Pedagógica e Departamento de Formação permanente</h2>
            </div>
            <img class="emblema" src="img/emblema.jpg">
        </header>
        <div class="conteudoContainer">
            <div class="tituloWrapper">
                <h3>certificado</h3>
                <div>De Participação</div>
            </div>
    
            <div class="textoWrapper">
                <p>
                    Para os devidos efeitos, certifica-se que <span class="espacoVazio">Lubumba Camaga Neto</span>, 
                    CIF/N° do Agente <span class="espacoVazio">0003088LA</span>, participou no Curso Básico de Metodologia 
                    de Investigação Científica, realizado no Hospital Geral de Benguela em parceria com a 
                    Faculdade de Medicina da Universidade Katiavala Mbuila, de <span class="espacoVazio">07</span> a 
                    <span class="espacoVazio">10</span> do mês de <span class="espacoVazio">Outubro</span>
                    do ano <span class="espacoVazio">2024</span>, com um total de <span class="espacoVazio">07horas</span> horas.
                </p>
                <p>
                    Feito em Benguela aos <span class="espacoVazio">23</span> de 
                    <span class="espacoVazio">Outubro</span> de 2023
                </p>
            </div>
        </div>
        <div class="footerCertificadoContainer">
            <div>
                <span>
                    Director geral
                </span>
            </div>
        
            <div>
                <span>
                    Director Pedagógico e Científico
                </span>
            </div>
            </div>
        </div>
    </main>
</body>
</html>