<!DOCTYPE html>
<html lang="pt">
<%- include('../components/header')%>

  <body>

    <div class="geral">

      <!-- header  -->
      <section class=" bg-img-color" id="header-page ">
        <!--navbar-->
        <nav class="navbar navbar-expand-lg  width-nav ">

          <div class="container py-3" id="container-nav">

            <a href="#" class="navbar-brand">
              <img src="img/favicon.png" alt="logo of site" id="logopage">
            </a>

            <menu class="collapse navbar-collapse" id="navbar-items">

              <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                  <a class="nav-link" aria-current="page" href="#">Início</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Sobre</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">Contactos</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#footer">Fale connosco</a>
                </li>
              </ul>

            </menu>

          </div>

        </nav>


        <div id="titulo" class="container ">
          <h1 class=""> <span class="text-danger">VII</span> <br> JORNADAS <br> CIENTIFICAS</h1>
          <p class="lead">HOSPITAL GERAL DE BENGUELA <br> <span>Lema: assistencia Humanizada para melhor servir"</span>
          </p>
        </div>

      </section>

      <section class="container py-3 container-about">

        <div class="container-p">
          <h2>TUDO SOBRE <br> O <span class="text-warning">EVENTO</span></h2>
          <article>
            <p class="p-article">Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic accusamus nihil
              eveniet iusto
              excepturi sint repellendus molestiae velit provident, veniam possimus ducimus quas aut labore facere ullam
              esse architecto?
              Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel excepturi quod dignissimos saepe repellendus
              culpa odio. Eaque veniam inventore temporibus. Eius dignissimos accusamus pariatur, eos quae quibusdam
              esse
              velit distinctio!
            </p>
            <button type="button" class="btn btn-danger">Emitir Certificado</button>
          </article>
        </div>

        <div class="container-img">
          <img src="../img/clay-banks-unsplash.jpg" alt="cover-doctor" class="cover-doctor">
        </div>

      </section>

      <section class="bg-warning">

        <div class="container py-3 container-number">

          <div class="numeros-title">
            <h2>Números</h2>
            <p>vem tambem fazer parte <br> destes números exclusivos</p>
          </div>

          <div class="numeros">
          
              <section class="elementos_filhos">
                <h2>+100</h2>
                <p>Participantes <br> no activo</p>
              </section>
              <section class="elementos_filhos">
                <h2>+5</h2>
                <p>Assuntos a serem <br> retratados</p>
              </section>
              <section class="elementos_filhos">
                <h2>+50</h2>
                <p>Profisionais da<br> area do hospital</p>
              </section>

            </div>
          </div>
        </div>
      </section>

      <div class="container-fluid">
        <h2>Depoimentos</h2>
        <h4>Depoimentos de participantes das actividades passadas</h4>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Nome: <br> Profissão</p>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Nome: <br> Profissão</p>
            </div>
          </div>
        </div>
      </div>


      <div class="container-fluid bg-dark ">
        <footer class="footer">
          <h3>CONTACTOS</h3>
        </footer>
      </div>

    </div>
    <script src="/public/bootstrap/css/bootstrap.min.js"></script>
  </body>

</html>