<!DOCTYPE html>
<html lang="pt">
<%- include('../components/header')%>
<body>
      <!--navbar-->
      <nav class="navbar bg-dark navbar-dark navbar-expand-sm py-3">
        <div class="container-fluid">
          <a href="" class="navbar-brand d-flex">LOGO</a>
          </div>
          <div class="collapse navbar-collapse" id="menunavbar">
            <div class="navbar-nav ms-auto">
              <ul class="navbar-nav">
                <li class="nav-item">
                  <a href="#" class="nav-link active">Inico</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Sobre</a>
                </li>
                <li class="nav-item">
                  <a href="#" class="nav-link">Contactos</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </nav>
  
  
      <div id="titulo" class="container-fluid navbar-dark bg-dark">
        <h1>VII <br> JORNADAS <br> CIENTIFICAS</h1>
        <p>HOSPITAL GERAL DE BENGUELA <br> "Lema: assistencia Humanizada para melhor servir"</p>
        <div class="img">
          <!--aqui vai uma foto-->
        </div>
      </div>
  
      <div class="container-fluid py-3" >
        <h2>TUDO SOBRE <br> O <span class="muda_cor">EVENTO</span></h2>
        <article>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Recusandae hic accusamus nihil eveniet iusto excepturi sint repellendus molestiae velit provident, veniam possimus ducimus quas aut labore facere ullam esse architecto?
            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel excepturi quod dignissimos saepe repellendus culpa odio. Eaque veniam inventore temporibus. Eius dignissimos accusamus pariatur, eos quae quibusdam esse velit distinctio!
          </p>
          <button type="button" class="btn btn-danger">Ver mais</button>
        </article>
      </div>
  
      <div class="container-fluid bg-warning py-3">
  
        <div class="numeros">
          <section class="numeros">
            <h2>Numeros</h2>
            <p>vem tambem fazer parte <br> destes números exclusivos</p>
          </section>
        </div>
        <div class="elementos">
          <section class="elementos_filhos">
            <h2>+100</h2>
            <p>Participantes <br> no activo</p>
          </section>
          <section class="elementos_filhos">
            <h2>+5</h2>
            <p>Assuntos a serem <br> retratados</p>
          </section>
          <section class="elementos_filhos">
            <h2>+50</h2>
            <p>Profisionais da<br> area do hospital</p>
          </section>
        </div>
  
      </div>
      <div class="container-fluid">
        <h2>Depoimentos</h2>
        <h4>Depoimentos de participantes das actividades passadas</h4>
        <div class="card" style="width: 18rem;">
          <img src="..." class="card-img-top" alt="...">
          <div class="card-body">
            <p class="card-text">Nome: <br> Profissão</p>
          </div>
          <div class="card" style="width: 18rem;">
            <img src="..." class="card-img-top" alt="...">
            <div class="card-body">
              <p class="card-text">Nome: <br> Profissão</p>
            </div>

        </div>
      </div>
  
      
      <div class="container-fluid bg-dark ">
        <footer class="footer">
          <h3>CONTACTOS</h3>
        </footer>
      </div>
  
  
    <script src="/public/bootstrap/css/bootstrap.min.js"></script>
  </body>

</html>